dotenv

if [ "$CLASSIFICATION" = "prod" ]; then
  export API_HOSTNAME=api.im.dhis2.org
  export UI_URL=https://im.dhis2.org
elif [ "$CLASSIFICATION" = "dev" ]; then
  export API_HOSTNAME=api.im-dev.dhis2.org
  export UI_URL=https://im-dev.dhis2.org
elif [ "$CLASSIFICATION" = "feature" ]; then
  export API_HOSTNAME=${ENVIRONMENT}.api.im-feat.dhis2.org
  export UI_URL=https://${ENVIRONMENT}.im-feat.dhis2.org
elif [ "$CLASSIFICATION" = "local" ]; then
  export API_HOSTNAME=172.18.0.1:8080
  export UI_URL=http://im.127-0-0-1.nip.io
  export COMPOSE_FILE=docker-compose.yml:docker-compose.k3s.yml
  export COMPOSE_PROFILES=k3s,prod
fi

export HOSTNAME=$API_HOSTNAME
