# hostnamePattern: %s-database-postgresql.%s.svc
releases:
  - name: {{ requiredEnv "INSTANCE_NAME" }}-database
    namespace: "{{ requiredEnv "INSTANCE_NAMESPACE" }}"
    chart: bitnami/postgresql
    version: "{{ requiredEnv "CHART_VERSION" }}"
    verify: false
    values:
      # This is required since we're using our own Docker: image https://github.com/dhis2-sre/bitnami-postgresql-curl
      - global:
          security:
            allowInsecureImages: true
      - commonLabels:
          im: "true"
          im-default: "true"
          im-deployment-id: "{{ requiredEnv "DEPLOYMENT_ID" }}"
          im-instance-id: "{{ requiredEnv "INSTANCE_ID" }}"
          im-id: "{{ requiredEnv "INSTANCE_ID" }}"
          im-type: "db"
          im-creation-timestamp: "{{ requiredEnv "INSTANCE_CREATION_TIMESTAMP" }}"
          im-ttl: "{{ requiredEnv "INSTANCE_TTL" }}"

      - primary:
          extendedConfiguration: |-
            dhis2.environment = 'instance-manager'

          extraEnvVars:
            - name: HOSTNAME
              value: {{ requiredEnv "HOSTNAME" }}
            - name: DATABASE_ID
              value: "{{ requiredEnv "DATABASE_ID" }}"
            - name: IM_ACCESS_TOKEN
              value: {{ requiredEnv "IM_ACCESS_TOKEN" }}
            - name: DATABASE_USERNAME
              value: {{ requiredEnv "DATABASE_USERNAME" }}
            - name: DATABASE_PASSWORD
              value: {{ requiredEnv "DATABASE_PASSWORD" }}
            - name: DATABASE_NAME
              value: {{ requiredEnv "DATABASE_NAME" }}

          persistence:
            size: {{ requiredEnv "DATABASE_SIZE" }}

          initdb:
            scripts:
              seed.sh: |
                {{- readFile "./seed.sh" | indent 16 }}

          resources:
            requests:
              cpu: {{ requiredEnv "RESOURCES_REQUESTS_CPU" }}
              memory: {{ requiredEnv "RESOURCES_REQUESTS_MEMORY" }}

      - image:
          repository: dhis2/postgresql-curl
          tag: {{ requiredEnv "DATABASE_VERSION" }}

      - auth:
          username: {{ requiredEnv "DATABASE_USERNAME" }}
          password: {{ requiredEnv "DATABASE_PASSWORD" }}
          database: {{ requiredEnv "DATABASE_NAME" }}

repositories:
  - name: bitnami
    url: https://charts.bitnami.com/bitnami
